{# templates/sidebar/_sidebar_item_form.html.twig #}

<li>
    <form method="post" action="{{ path }}" onsubmit="return confirm('Are you sure you want to delete {{ item|default('this item') }}?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
        <button class="flex w-full items-center p-2 text-base font-normal text-gray-900 rounded-full transition duration-300 hover:bg-gray-100 group">
            <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">{{ icon }}</span>
            <span class="ml-3">{{ name }}</span>
        </button>
    </form>
</li>