{# templates/sidebar/_sidebar_recipe.html.twig #}

<ul class="space-y-2">
    <li class="p-2 text-base font-semibold">
        <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">{{ recipe.title }}</a>
    </li>
    {{ include('sidebar/_sidebar_item.html.twig', {
        icon: 'bakery_dining',
        name: 'Add ingredient',
        path: path('app_ingredient_new_for_recipe', {'recipeId': recipe.id}),
    }) }}
    {{ include('sidebar/_sidebar_item.html.twig', {
        icon: 'playlist_add',
        name: 'Add instruction',
        path: path('app_instruction_new_for_recipe', {'recipeId': recipe.id}),
    }) }}
    {{ include('sidebar/_sidebar_item.html.twig', {
        icon: 'drive_file_rename_outline',
        name: 'Edit recipe',
        path: path('app_recipe_edit', {'id': recipe.id}),
    }) }}
    {{ include('sidebar/_sidebar_item_form.html.twig', {
        icon: 'delete_sweep',
        name: 'Delete recipe',
        path: path('app_recipe_delete', {'id': recipe.id}),
        id: recipe.id,
        item: recipe,
    }) }}
</ul>