{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Sign up to FoodPlanner' %}

{% block title %}{{ heading }}{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {{ form_start(registrationForm, {attr: {'style': 'width: 350px'}}) }}
        {{ form_row(registrationForm.username, {
            label: 'Your username',
            row_attr: {'class': 'mb-6'},
            label_attr: {'class': 'text-sm font-semibold block mb-2'},
            attr: {'class': 'border rounded-full h-10 px-6 shadow-sm w-full'},
        }) }}
        
        {{ form_row(registrationForm.plainPassword, {
            label: 'Your password',
            row_attr: {'class': 'mb-6'},
            label_attr: {'class': 'text-sm font-semibold block mb-2'},
            attr: {'class': 'border rounded-full h-10 px-6 shadow-sm w-full'},
        }) }}
        
        {{ form_row(registrationForm.agreeTerms, {
            label: 'I agree to the Terms of Service and Privacy Policy.',
            row_attr: {'class': 'flex mb-6 justify-between align-center'},
            label_attr: {'class': 'text-sm font-semibold mb-2 order-last'},
            attr: {'class': 'w-5 h-5 text-blue-600 bg-gray-100 rounded-xl border-gray-300'},
        }) }}

        <div class="flex justify-between items-center">
            <div class="text-sm">
                <a href="{{ path('app_login') }}" class="transition duration-700 text-slate-400 hover:text-slate-600">Already signed up? Sign in!</a>
            </div>
            {{ include('component/_button_submit.html.twig', {icon: 'login', label: 'Sign up', inverse: true}) }}
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
