{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block main %}
<div class="rounded-b-3xl md:rounded-3xl shadow-md border border-gray-200  bg-white mx-auto p-6 md:my-10 lg:my-20 md:w-96 self-center">
    <div class="text-xl font-semibold text-violet-700 mb-6">
        Sign up to FoodPlanner
    </div>

    {{ form_start(registrationForm) }}
        <div class="mb-6">
            {{ form_row(registrationForm.username) }}
        </div>
        <div class="mb-6">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </div>
        <div class="mb-8">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <div class="flex justify-between items-center">
            <div class="text-sm">
                <a href="{{ path('app_login') }}" class="transition duration-700 text-slate-400 hover:text-slate-600">Already signed up? Sign in!</a>
            </div>
            <button type="submit" class="transition rounded-full w-32 h-10 px-6 shadow-md bg-violet-600 hover:bg-violet-500 hover:scale-110 font-semibold text-white">Sign up</button>
        </div>
    {{ form_end(registrationForm) }}

    {#
    <form action="{{ path('app_login') }}" method="post">
        <div class="mb-6">
            <label for="username" class="text-sm font-semibold block mb-2">Your username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username ..." class="border rounded-full h-10 px-6 shadow-sm w-full" />
        </div>
        <div class="mb-8">
            <label for="password" class="text-sm font-semibold block mb-2">Your password</label>
            <input type="password" id="password" name="_password" placeholder="••••••••" class="border rounded-full h-10 px-6 shadow-sm w-full" />
        </div>
    </form>
    #}
</div>
{% endblock %}
