{# templates/ingredient/edit.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Edit ingredient' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {% if ingredient.storage %}
        {{ include('sidebar/_sidebar_add_storage.html.twig') }}
    {% elseif ingredient.recipe %}
        {{ include('sidebar/_sidebar_recipe.html.twig', {recipe: ingredient.recipe}) }}
        {{ include('sidebar/_sidebar_hline.html.twig') }}
        {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
        {{ include('sidebar/_sidebar_space.html.twig') }}
        {{ include('sidebar/_sidebar_back_to_recipe.html.twig', {recipe: ingredient.recipe}) }}
    {% endif %}
    {{ include('sidebar/_sidebar_space.html.twig') }}
    <ul class="space-y-2">
        <li>
            <form method="post" action="{{ path('app_ingredient_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Are you sure you want to delete this ingredient?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
                <button class="flex w-full items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-300 hover:bg-gray-100 group">
                    <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">delete</span>
                    <span class="ml-3">Delete ingredient</span>
                </button>
            </form>
        </li>
    </ul>
{% endblock %}


{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}
    
    {{ form_start(form, {attr: {'style': 'width: 350px'}}) }}
        {{ form_row(form.name, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.quantityValue, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.quantityUnit, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}
        
        {{ include('component/_submit_button_right.html.twig', {icon: 'update', label: 'Save ingredient'}) }}
      
        {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}
