{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block main %}
<div class="flex">
    <div class="rounded-b-3xl md:rounded-3xl shadow-md border border-gray-200  bg-white mx-auto p-6 md:mt-10 lg:mt-20 w-full md:w-1/2">
        <div class="text-xl font-semibold text-violet-700 mb-6">
            Ingredients
        </div>

        <div class="overflow-x-auto relative">
            <table class="table-fixed w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 bg-gray-100">
                    <tr>
                        <th class="py-3 px-6 rounded-l-lg w-1/12">#</th>
                        <th class="py-3 px-6">Ingredient</th>
                        <th class="py-3 px-6">Quantity</th>
                        <th class="py-3 px-6 rounded-r-lg">Related to ...</th>
                    </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td class="py-4 px-6"><a href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}" class="transition duration-700 hover:text-gray-900">{{ ingredient.id }}</a></td>
                        <td class="py-4 px-6"><a href="{{ path('app_ingredient_show', {'id': ingredient.id}) }}" class="transition duration-700 hover:text-gray-900">{{ ingredient.name }}</a></td>
                        <td class="py-4 px-6">{{ ingredient.quantityValue }} {{ ingredient.quantityUnit }}</td>
                        <td class="py-4 px-6">
                        {% if ingredient.recipe %}
                            <a href="{{ path('app_recipe_show', {'id': ingredient.recipe.id}) }}" class="transition duration-700 hover:text-gray-900">Recipe: {{ ingredient.recipe }}</a>
                        {% else %}
                            {{ ingredient.storage }}
                        {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="py-4 px-6" colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="flex">
    <div class="mx-auto p-6 md:mb-10 lg:mb-20 w-full md:w-1/2">
        <a href="{{ path('app_ingredient_new') }}" class="transition duration-700 text-slate-400 hover:text-slate-600">Add new ingredient ...</a>
    </div>
</div>
{% endblock %}
