{# templates/plan/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Day CRUD' %}

{% block title %}{{ heading }}{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day }}</td>
                <td>
                    <form method="post" action="{{ path('app_day_delete', {'id': day.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ day.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_day_new') }}">Create current week</a> <br />
    <a href="{{ path('app_day_new_next') }}">Create next week</a> <br />
    <a href="{{ path('app_day_delete_all') }}">Delete all</a>
{% endblock %}
