{# templates/plan/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Weekly Planner' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar_action %}
    {{ include('sidebar/_sidebar_action.html.twig', {
        path: path('app_plan_new'),
        icon: 'add',
    }) }}
{% endblock %}


{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {% for day in days %}
        <div class="text-lg font-semibold text-blue-600 mb-4">
            {{ day.weekday }}
        </div>

        <div class="grid grid-cols-3 gap-4 mb-10">
            {% for meal in day.meals %}
                <div class="h-40 shadow-md rounded-2xl border border-gray-200 transition duration-300 hover:scale-105 hover:shadow-lg hover:bg-gray-50">
                    {% if meal.recipe.image is not null %}
                        <a href="{{ path('app_recipe_show', {'id': meal.recipe.id}) }}" class="relative">
                            <div class="absolute bottom-4 px-6 text-white font-semibold text-xl z-10">{{meal.mealCategory}} for {{ meal.userGroup }}: {{ meal.recipe.title }}</div>
                            <img class="rounded-2xl h-40 object-cover brightness-75" src="{{ asset(meal.recipe.image) }}" alt="{{ meal.recipe }}" />
                        </a>
                    {% else %}
                        <a href="{{ path('app_recipe_show', {'id': meal.recipe.id}) }}" class="h-full w-full p-6 font-semibold text-xl z-10 flex items-end">
                            <div>{{meal.mealCategory}} for {{ meal.userGroup }}: {{ meal.recipe.title }}</div>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="flex justify-end mt-6">
        {{ include('component/_button.html.twig', {
            path: path('app_day_delete_all'),
            icon: 'delete_sweep',
            label: 'Delete all days',
            inverse: true,
        }) }}
    </div>
{% endblock %}
