{# templates/plan/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Weekly Planner' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_plan.html.twig') }}
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {% for day in days %}
        {% for meal in day.meals %}
            {{ day }} {{ meal.mealCategory }}: {{ meal.recipe }} <br />
        {% endfor %}
    {% endfor %}

    <div class="mt-6 flex justify-end">
        {{ include('component/_button.html.twig', {
            path: path('app_plan_new'),
            icon: 'add',
            label: 'New meal',
        }) }}
    </div>
{% endblock %}
