{# templates/plan/new_meal.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'New meal' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar_action %}
    {{ include('sidebar/_sidebar_action.html.twig', {
        path: path('app_plan_index'),
        icon: 'redo',
    }) }}
{% endblock %}

{% block load_sidebar %}loadSidebar('planner');{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {{ form_start(form, {attr: {'style': 'max-width: ' ~ standardFormWidth}}) }}
        {{ form_row(form.day, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.mealCategory, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.userGroup, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.recipe, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}
        
        <div class="flex justify-end">
            {{ include('component/_button_submit.html.twig', {
                icon: 'add',
                label: 'Save meal',
            }) }}
        </div>

        {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}
