{# templates/login/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Sign in' %}

{% block title %}{{ heading }}{% endblock %}

{% block main %}

{% if app.user %}
    <div class="flex p-4 text-sm text-green-700 bg-green-100 rounded-3xl items-center" role="alert">
        <span class="material-symbols-rounded flex-shrink-0 inline mr-5">info</span>
        <div class="flex w-full justify-between">
            <span class="font-medium">You are successfully signed in!</span>
            <a href="{{ path('app_logout') }}">Sign out ...</a>
        </div>
    </div>

{% else %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}
    
    <form action="{{ path('app_login') }}" method="post" style="width: 350px">
        <div class="mb-6">
            <label for="username" class="text-sm font-semibold block mb-2">Your username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username ..." class="{{ inputClass }}" />
        </div>
        <div class="mb-8">
            <label for="password" class="text-sm font-semibold block mb-2">Your password</label>
            <input type="password" id="password" name="_password" placeholder="••••••••" class="{{ inputClass }}" />
        </div>

        <div class="flex justify-between items-center">
            <div class="text-sm">
    	        <a href="#" class="transition duration-300 text-slate-400 hover:text-slate-600">Forgot your password?</a> <br /> 
                <a href="{{ path('app_register') }}" class="transition duration-300 text-slate-400 hover:text-slate-600">Sign up for FoodPlanner</a>
            </div>
            {{ include('component/_button_submit.html.twig', {icon: 'login', label: 'Sign in'}) }}
        </div>

        <input type="hidden" name="_target_path" value="/login" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    </form>

    {% if error %}
        <div class="flex p-4 mt-10 text-sm text-red-700 bg-red-100 rounded-3xl items-center" role="alert">
            <span class="material-symbols-rounded flex-shrink-0 inline mr-5">info</span>
            <div>
                <span class="font-medium">{{ error.messageKey | trans(error.messageData, 'security') }}</span> <br />
                Please try again.
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}