{# templates/plan/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Meal CRUD' %}

{% block title %}{{ heading }}{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    <table class="table">
        <thead>
            <tr>
                <th>Meal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{meal.mealCategory}} for {{ meal.userGroup }}: {{ meal.recipe.title }}</td>
                <td>
                    <a href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
