{# templates/instruction/edit.html.twig #}

{% extends 'base.html.twig' %}
{# {% extends 'component/_form.html.twig' %} #}
{% set heading = 'Edit instruction' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_recipe.html.twig', {recipe: instruction.recipe}) }}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
    {{ include('sidebar/_sidebar_space.html.twig') }}
    {{ include('sidebar/_sidebar_back_to_recipe.html.twig', {recipe: instruction.recipe}) }}
    {{ include('sidebar/_sidebar_space.html.twig') }}
    <ul class="space-y-2">
        <li>
            <form method="post" action="{{ path('app_instruction_delete', {'id': instruction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this instruction?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instruction.id) }}">
                <button class="flex w-full items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-300 hover:bg-gray-100 group">
                    <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">delete</span>
                    <span class="ml-3">Delete instruction</span>
                </button>
            </form>
        </li>
    </ul>
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {{ form_start(form, {attr: {'style': 'width: 350px'}}) }}
        {{ form_row(form.instruction, {
            row_attr: {'class': textareaRowClass},
            label_attr: {'class': textareaLabelClass},
            attr: {'class': textareaClass, 'rows': 8},
        }) }}

        {{ include('component/_submit_button_right.html.twig', {icon: 'update', label: 'Save instruction'}) }}

        {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}