{% extends 'base.html.twig' %}

{% block title %}Instruction{% endblock %}

{% block main %}
    <h1>Instruction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instruction.id }}</td>
            </tr>
            <tr>
                <th>Instruction</th>
                <td>{{ instruction.recipe }}</td>
            </tr>
            <tr>
                <th>Instruction</th>
                <td>{{ instruction.instruction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instruction_index') }}">back to list</a>

    <a href="{{ path('app_instruction_edit', {'id': instruction.id}) }}">edit</a>

    {{ include('instruction/_delete_form.html.twig') }}
{% endblock %}
