{# templates/storage/index.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Pantry' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar_action %}
    {{ include('sidebar/_sidebar_action.html.twig', {
        path: path('app_storage_edit_ingredients'),
        icon: 'drive_file_rename_outline',
    }) }}
{% endblock %}

{% block load_sidebar %}loadSidebar('pantry');{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    <div class="overflow-x-auto relative">
        <table class="table-fixed w-full text-left">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-3 px-6 rounded-l-xl">Quantity</th>
                    <th class="py-3 px-6 rounded-r-xl">Ingredient</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td class="py-4 px-6">{{ ingredient.quantityValue }} {{ ingredient.quantityUnit }}</td>
                    <td class="py-4 px-6">{{ ingredient.name }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="py-4 px-6" colspan="2">No ingredients found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
