{# templates/recipe/edit.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Edit recipe' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_recipe.html.twig') }}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {{ form_start(form, {attr: {'style': 'width: ' ~ standardFormWidth}}) }}
        {{ form_row(form.title, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {% if recipe.image is not null %}
            <div class="{{ inputRowClass }}">
                <div class="{{ inputLabelClass }}">Current image</div>
                <img class="w-full rounded-3xl shadow-md transition duration-300 hover:shadow-xl hover:scale-105" src="{{ asset(recipe.image) }}" />
            </div>

            <div class="{{ inputRowClass }} grid grid-cols-2 justify-between items-center">
                <label for="recipe_image_remove" class="inline-flex relative items-center cursor-pointer">
                    <input type="checkbox" value="" id="recipe_image_remove" name="recipe[image_remove]" class="sr-only peer" />
                    <div class="w-11 h-6 bg-gray-100 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all transition duration-300 peer-checked:bg-blue-600"></div>
                    <span class="ml-3 text-sm text-gray-900">Delete from recipe</span>
                </label>

                <label for="recipe_image" class="file-label cursor-pointer overflow-clip {{ btn_submit_inverse }}">
                    {{ include('component/_button_content.html.twig', {
                        icon: 'photo_size_select_small',
                        label: 'Change image',
                    }) }}
                </label>
                {{ form_widget(form.image, {
                    attr: {'class': 'file-input hidden'},
                }) }}
            </div>
        {% else %}
            <div>
                <div class="{{ inputLabelClass }}">Upload image</div>
            </div>

            <div class="{{ inputRowClass }} flex">
                <label for="recipe_image" class="file-label cursor-pointer overflow-hidden {{ btn_submit_inverse }}">
                    {{ include('component/_button_content.html.twig', {
                        icon: 'photo_size_select_small',
                        label: 'Choose file',
                    }) }}
                </label>
                {{ form_widget(form.image, {
                    attr: {'class': 'file-input hidden'},
                }) }}
            </div>
        {% endif %}

        {{ form_row(form.portionSize, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass, 'id': 'portionSizeOutput'},
            attr: {'class': 'w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer', 'oninput': 'getElementById("portionSizeOutput").innerHTML = "Portions: " + this.value', 'value': recipe.portionSize},
            label: 'Portions: ' ~ recipe.portionSize,
        }) }}

        {{ form_row(form.ingredients, {
            row_attr: {'class': textareaRowClass},
            label_attr: {'class': textareaLabelClass},
            attr: {'class': textareaClass, 'rows': 10},
        }) }}

        {{ form_row(form.instructions, {
            row_attr: {'class': 'mb-2'},
            label_attr: {'class': textareaLabelClass},
            attr: {'class': textareaClass, 'rows': 10},
        }) }}

        <div class="text-xs mb-6">
            <span class="font-semibold">Hint:</span> 
            Seperate each step with a new line!
        </div>

        <div class="flex justify-end space-x-4">
            {{ include('component/_button.html.twig', {
                path: path('app_recipe_show', {id: recipe.id}),
                icon: 'redo',
                label: 'Back',
                inverse: true,
            }) }}

            {{ include('component/_button_submit.html.twig', {
                icon: 'update',
                label: 'Save recipe',
            }) }}
        </div>

        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}