{# templates/recipe/edit.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = 'Edit recipe' %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_recipe.html.twig') }}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {{ form_start(form, {attr: {'style': 'width: ' ~ standardFormWidth}}) }}
        {{ form_row(form.title, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass},
            attr: {'class': inputClass},
        }) }}

        {{ form_row(form.portionSize, {
            row_attr: {'class': inputRowClass},
            label_attr: {'class': inputLabelClass, 'id': 'portionSizeOutput'},
            attr: {'class': 'w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer', 'oninput': 'getElementById("portionSizeOutput").innerHTML = "Portions: " + this.value', 'value': recipe.portionSize},
            label: 'Portions: ' ~ recipe.portionSize,
        }) }}

        {{ form_row(form.ingredients, {
            row_attr: {'class': textareaRowClass},
            label_attr: {'class': textareaLabelClass},
            attr: {'class': textareaClass, 'rows': 10},
        }) }}

        {{ form_row(form.instructions, {
            row_attr: {'class': 'mb-2'},
            label_attr: {'class': textareaLabelClass},
            attr: {'class': textareaClass, 'rows': 10},
        }) }}

        <div class="text-xs mb-6">
            <span class="font-semibold">Hint:</span> 
            Seperate each step with a new line!
        </div>

        <div class="flex justify-end space-x-4">
            {{ include('component/_button.html.twig', {
                path: path('app_recipe_show', {id: recipe.id}),
                icon: 'redo',
                label: 'Back',
                inverse: true,
            }) }}

            {{ include('component/_button_submit.html.twig', {
                icon: 'update',
                label: 'Save recipe',
            }) }}
        </div>

        {{ form_row(form._token) }}
    {{ form_end(form) }}
{% endblock %}