{% extends 'base.html.twig' %}

{% block title %}List of recipes{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
{% endblock %}

{% block main %}
    <div class="text-2xl font-semibold text-blue-600 mb-10">
        List of recipes
    </div>

    <div class="overflow-x-auto relative">
        <table class="table-fixed w-full text-left">
            <thead class="bg-gray-100">
                <tr>
                    <th class="py-3 px-6 rounded-l-xl w-1/12">#</th>
                    <th class="py-3 px-6 rounded-r-xl">Recipe</th>
                </tr>
            </thead>
            <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td class="py-4 px-6"><a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="transition duration-700 hover:text-gray-900">{{ recipe.id }}</a></td>
                    <td class="py-4 px-6"><a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="transition duration-700 hover:text-gray-900">{{ recipe.title }}</a></td>
                </tr>
            {% else %}
                <tr>
                    <td class="py-4 px-6" colspan="2">No recipes found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
