{# templates/recipe/show.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = recipe.title %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_recipe.html.twig') }}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}


    <div class="mb-10">
        <div class="bg-gray-100 font-bold px-6 py-3 mb-3 rounded-xl flex justify-between align-middle">
            <div>Ingredients for {% if recipe.portionSize == 1 %}one portion{% else %}{{ recipe.portionSize }} portions{% endif %}</div>
            {# <div><span class="material-symbols-rounded">add_box</span></div> #}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
            {% for ingredient in recipe.ingredients %}
                <a class="px-6 pt-2" href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">
                    {{ ingredient.quantityValue }} 
                    {{ ingredient.quantityUnit }} 
                    {{ ingredient }}
                </a>
            {% else %}
                <div class="px-6 pt-2">No ingredients found.</div>
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="bg-gray-100 font-bold px-6 py-3 mb-5 rounded-xl flex justify-between align-middle">
            <div>Instructions</div>
            {# <div><span class="material-symbols-rounded">add_box</span></div> #}
        </div>
        <ol class="space-y-2">
            {% for instruction in recipe.instructions %}
                <li class="flex px-6">
                    <div class="mr-2">{{ loop.index }}.</div>
                    <a class="flex-1" href="{{ path('app_instruction_edit', {'id': instruction.id}) }}">{{ instruction }}</a>
                </li>
            {% else %}
                <li class="px-6">No instructions found.</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
