{# templates/recipe/show.html.twig #}

{% extends 'base.html.twig' %}
{% set heading = recipe.title %}

{% block title %}{{ heading }}{% endblock %}

{% block sidebar %}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_recipe.html.twig') }}
    {{ include('sidebar/_sidebar_hline.html.twig') }}
    {{ include('sidebar/_sidebar_add_recipe.html.twig') }}
{% endblock %}

{% block main %}
    {{ include('component/_heading.html.twig', {heading: heading}) }}

    {% if recipe.image is not null and recipe.image.isImage %}
        <img class="rounded-3xl mb-10 shadow-md hover:shadow-xl transition duration-300 hover:scale-105 w-full" src="{{ asset(recipe.image.path) }}" alt="{{ recipe.image.description }}" />
    {% endif %}

    <div class="mb-10">
        <div class="bg-gray-100 font-bold px-6 py-3 mb-3 rounded-xl flex justify-between items-center">
            <span>Ingredients for {% if recipe.portionSize == 1 %}one portion{% else %}{{ recipe.portionSize }} portions{% endif %}</span>
            <a href="{{ path('app_ingredient_new_for_recipe', {'recipeId': recipe.id}) }}" class="material-symbols-rounded transition duration-300 rounded-full hover:text-blue-600 hover:bg-blue-200">add</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
            {% for ingredient in recipe.ingredients %}
                <a class="px-6 pt-2" href="{{ path('app_ingredient_edit', {'id': ingredient.id}) }}">
                    {{ ingredient.quantityValue }} 
                    {{ ingredient.quantityUnit }} 
                    {{ ingredient }}
                </a>
            {% else %}
                <div class="px-6 pt-2">No ingredients found.</div>
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="bg-gray-100 font-bold px-6 py-3 mb-5 rounded-xl flex justify-between items-center">
            <span>Instructions</span>
            <a href="{{ path('app_instruction_new_for_recipe', {'recipeId': recipe.id}) }}" class="material-symbols-rounded transition duration-300 rounded-full hover:text-blue-600 hover:bg-blue-200">add</a>
        </div>
        <ol class="space-y-2">
            {% for instruction in recipe.instructions %}
                <li class="flex px-6">
                    <div class="mr-2">{{ loop.index }})</div>
                    <a class="flex-1" href="{{ path('app_instruction_edit', {'id': instruction.id}) }}">{{ instruction }}</a>
                </li>
            {% else %}
                <li class="px-6">No instructions found.</li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
