{# templates/base.html.twig #}

{% extends '_vars.html.twig' %}

{% block html %}
{# BEGIN HTML #}
<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <title>{% block title %}FoodPlanner{% endblock %}</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,1,0" />
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>

    <body>
        {% block body %}
            <main>
                <div class="flex bg-blue-50">
                    <aside class="z-50 bg-blue-50 w-full fixed bottom-0 h-20
                        lg:w-24 lg:min-h-screen lg:static lg:flex lg:justify-center">
                        <div class="pl-7 pr-10 py-3 w-full lg:max-w-fit flex justify-between lg:block lg:px-3 lg:py-7 fixed">
                            {# BEGIN action buttons (hidden on small screens) #}
                            <ul class="space-y-2 mb-16 hidden lg:block">
                                <li>
                                    <a class="flex items-center p-4 text-gray-900 rounded-full transition duration-300 hover:bg-blue-100 active:bg-blue-200 active:scale-90 group" href="#">
                                        <span class="material-symbols-rounded text-gray-500 transition duration-300 group-hover:text-gray-900">menu</span>
                                    </a>
                                </li>
                                
                                {% block sidebar_action %}
                                    <li>
                                        <a class="flex items-center p-4 rounded-2xl">&nbsp;</a>
                                    </li>
                                {% endblock %}
                            </ul>
                            {# END action buttons #}

                            {# BEGIN sidebar buttons #}
                            {{ include('sidebar/_sidebar.html.twig') }}
                            {% block sidebar %}{% endblock %}
                            {# END sidebar buttons #}
                            
                            {# BEGIN mobile action button #}
                            <ul class="lg:hidden">
                                {{ block('sidebar_action') }}
                            </ul>
                            {# END mobile action button #}
                        </div>
                    </aside>
                    <div class="flex-initial px-10 mt-8 py-16 text-gray-700" style="width: 700px">
                        {# Main Content #}
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </main>
        {% endblock %}

        <!-- JavaScript -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
{# END HTML #}
{% endblock %}