{#
 # Twig Variables
 #}

{# General variables #}

{# Input Widget #}
{% set inputClass = 'border rounded-full h-10 px-6 shadow-sm w-full' %}
{% set inputLabelClass = 'text-sm font-semibold block mb-2' %}
{% set inputRowClass = 'mb-6' %}

{# Textarea Widget #}
{% set textareaClass = 'block border border-gray-300 rounded-xl px-4 py-2 shadow-sm w-full' %}
{% set textareaLabelClass = inputLabelClass %}
{% set textareaRowClass = inputRowClass %}

{# BEGIN HTML #}
<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <title>{% block title %}FoodPlanner{% endblock %}</title>
        
        <!-- Stylesheets -->
        {# Icons, custom #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,1,0" />
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}

        
    </head>

    <body>
    {% block body %}

        <header>
            {% block header %}
            <nav class="bg-gray-800 fixed w-full top-0">
                <div class="px-2 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center justify-between">

                        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                            <!-- Mobile menu button-->
                            <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                                <span class="sr-only">Open main menu</span>
                                <!--
                                Icon when menu is closed.
                                Heroicon name: outline/bars-3
                                Menu open: "hidden", Menu closed: "block"
                                -->
                                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                                <!--
                                Icon when menu is open.
                                Heroicon name: outline/x-mark
                                Menu open: "block", Menu closed: "hidden"
                                -->
                                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>

                        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                            <div class="flex flex-shrink-0 items-center">
                                <img class="block h-8 w-auto lg:hidden" src="{{ asset('img/favicon.png') }}" />
                                <img class="hidden h-8 w-auto lg:block" src="{{ asset('img/favicon.png') }}" />
                            </div>
                            <div class="hidden sm:ml-6 sm:block">
                                <div class="flex space-x-4">
                                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                    <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">FoodPlanner</a>
                                    <a href="http://yusel.net/blog" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>
                                    <a href="{{ path('app_login') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign in</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="sm:hidden" id="mobile-menu">
                    <div class="space-y-1 px-2 pt-2 pb-3">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">FoodPlanner</a>
                        <a href="http://yusel.net/blog" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>
                        <a href="{{ path('app_login') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign in</a>
                    </div>
                </div>
            </nav>
            {% endblock %}
        </header>

        <main>
            <div class="flex">
                <aside class="w-64 pt-16 min-h-screen">
                    <div class="px-3 pt-7 bg-gray-50 h-full fixed w-64">

                        {# Sidebar #}
                        {% block sidebar_top %}
                            <ul class="space-y-2">
                                <li>
                                    <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-300 hover:bg-gray-100 group" href="{{ path('app_recipe_index') }}">
                                        <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">soup_kitchen</span>
                                        <span class="ml-3 flex-1">List of recipes</span>
                                        {{ render(controller(
                                            'App\\Controller\\RecipeController::numberOfRecipes'
                                        ))}}
                                    </a>
                                </li>
                                <li>
                                    <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-300 hover:bg-gray-100 group" href="{{ path('app_storage_index') }}">
                                        <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">kitchen</span>
                                        <span class="ml-3">Pantry</span>
                                    </a>
                                </li>
                            </ul>
                        {% endblock %}

                        {# Optional sidebar items #}
                        {% block sidebar %}{% endblock %}

                    </div>
                </aside>

                <div class="flex-initial px-10 mt-8 py-16 text-gray-700" style="width: 700px">

                    {# Main Content #}
                    {% block main %}{% endblock %}

                </div>
            </div>
        </main>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    {% endblock %}

        <!-- JavaScript -->
        {# jQuery, feather, custom #}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
{# END HTML #}