{# templates/base.html.twig #}

{% extends '_vars.html.twig' %}

{% block html %}
{# BEGIN HTML #}
<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <title>{% block title %}FoodPlanner{% endblock %}</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,1,0" />
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>

    <body>
        {% block body %}
            <main>
                <div class="flex">
                    <aside class="w-64 pt-16 min-h-screen">
                        <div class="px-3 pt-7 bg-gray-50 h-full fixed w-64">

                            {# Sidebar #}
                            {% block sidebar_top %}
                                {{ include('sidebar/_sidebar.html.twig')}}
                            {% endblock %}

                            {# Optional sidebar items #}
                            {% block sidebar %}{% endblock %}

                        </div>
                    </aside>
                    <div class="flex-initial px-10 mt-8 py-16 text-gray-700" style="width: 700px">
                        {# Main Content #}
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </main>
        {% endblock %}

        <!-- JavaScript -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
{# END HTML #}
{% endblock %}